{% include 'nav.html' %}

{% load static %}


<style type="text/css">
  #about{
    color:;
  }

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>


<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     <h2>Want to know about us ?</h2>
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<p id="about">A <strong>school is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers.
   Most countries have systems of formal education, which is sometimes compulsory.[2] In these systems, students progress through a series of schools. 
   The names for these schools vary by country (discussed in the Regional terms section below) but generally include primary school for young children and secondary school for teenagers
    who have completed primary education. An institution where higher education is taught is commonly called a university college or university.</strong></p>

  <p><strong>In addition to these core schools, students in a given country may also attend schools before and after primary (elementary in the U.S.) and secondary (middle school in the U.S.) 
  education. Kindergarten or preschool provide some schooling to very young children (typically ages 3–5). University, vocational school, college or seminary may be available after 
  secondary school. A school may be dedicated to one particular field, such as a school of economics or dance. Alternative schools may provide nontraditional curriculum and methods.</strong></p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>












